* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "M PLUS 1 Code", monospace;
}
body {
  background-color: #fff0dc;
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}

label {
  margin: 7px;
  width: 200px;
  display: inline-block;
}

input[type="file"]::file-selector-button {
  margin: 10px;
  gap: 10px;
  font-family: "M PLUS 1 Code", monospace;
  background-color: #cc7f53;
  padding: 5px;
}

input[type="file"]::file-selector-button:hover {
  background-color: #fff0dc;
}

input {
  width: 500px;
}

button {
  margin: 10px;
  gap: 10px;

  background-color: #cc7f53;
  padding: 5px;
}
button:hover {
  background-color: #fff0dc;
}

.contenedorProducto {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10%;
  padding: 10px;
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}
.contenedorProducto:hover {
  box-shadow: 0px 0px 10px #cc7f53;
}

h3 {
  text-align: center;
}
.imagen {
  width: 170px;
  height: 170px;
  justify-content: center;
  align-items: center;
  display: flex;
}

img {
  object-fit: auto;
  max-width: 100%;
  max-height: 100%;
}

.productosCSS {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.thumbnailPrev {
  width: 170px;
  height: 170px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.listado {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#listado {
  height: 600px;
  overflow-y: scroll;
}

.productoBox {
  margin: 10px;
  border: 1px solid black;
  padding: 4px;
  align-items: center;

  background-color: bisque;
  display: flex;
}

.flex0 {
  flex-basis: 10%;
}

.flex1 {
  flex-basis: 30%;
}
.flex2 {
  flex-basis: 25%;
  text-align: center;
}
.flex3 {
  flex-basis: 25%;
  text-align: center;
}

.flex4 {
  flex-basis: 5%;
  text-align: center;
}

.flex5 {
  flex-basis: 5%;
  text-align: center;
}

.flexDiv {
  display: flex;
  align-items: center;
  margin: 10px;
}

#addProdForm {
  display: none;
}
